.category{
    color: white;
    box-sizing: border-box;
    overflow-y: scroll;
    transition: .5s;
    max-height: 0px;

    &_active{
        max-height: 250px;
        margin-bottom: 15px;
    }

    &::-webkit-scrollbar{
        width: 4px;
        background: none;
    }

    p{
        font-weight: 600;
        font-size: 18px;
        cursor: pointer;
        border-radius: 5px;
        padding: 4px;
        transition: .5s;
    }

    &__link{
        background: #383838;
    }
}