@import './../../variables.module.scss';

.settings{
    &__container{
        display: flex;
        justify-content: space-around;

        input{
            width: 90%;
        }
    }

    &__description{
        margin-top: 25px;
        text-align: center;

        h3{
            color: white;
        }

        textarea{
            width: 100%;
            outline: none;
            border: none;
            color: white;
            box-sizing: border-box;
            padding: 20px;
            border-radius: 5px;
            background: $appBgColor;
            height: 130px;
            resize: none;
        }
    }
    
    &__input{
        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;
        font-weight: bold;
        color: white;
        outline: none;
        text-align: center;
        border: none;
        border-radius: 10px;
        background: $appBgColor;
        height: 45px;
    }

    &__middle{
        width: 35%;
        border-left: 1px solid $appThirdBgColor;
        box-sizing: border-box;
        text-align: center;
        padding: 0 20px;
        border-right: 1px solid $appThirdBgColor;

        div{
            h3{
                color: white;
            }
        }
    }
}