@import './../..//variables.module.scss';

.content{
    width: 35%;

    &__images{
        text-align: center;

        h3{
            color: white;
        }

        &__wrapper{
            div{
                margin: 0 auto;
                margin-top: 15px;
            }

            input{
                box-sizing: border-box;
                width: 100%;
                padding: 0 15px;
                font-weight: bold;
                color: white;
                outline: none;
                text-align: center;
                border: none;
                border-radius: 10px;
                background: $appBgColor;
                height: 45px;
            }
        }
    }
}