
.header{
    height: 0px;
    overflow: hidden;
    transition: 1s;
    display: flex;

    span{
        color: white;
        cursor: pointer;
        font-size: 27px;
        transition: .3s;
    }

    &_active{
        height: 30px;
    }
}