@import './variables.module.scss';

.main{
    position: absolute;
    width: 80%;
    right: 0;
    transition: 1s;
    box-sizing: border-box;
    padding: 25px;

    &_active{
        width: 100%;
    }

    &_wrapper{
        background: $appSecondaryBgColor;
        border-radius: 15px;
        height: 100%;
        box-sizing: border-box;
        padding: 20px;
    }
}